In [16]:
print("hello python")
import numpy as np
import pandas as pd
s=pd.Series([2,4,6,8,10,np.nan])
s
dates=pd.date_range('20200811',periods=6)
dates
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

hello python

                   A         B         C         D
2020-08-11  1.766222  0.879211  0.769853  2.199094
2020-08-12 -0.714161  0.867045 -0.523694  0.327279
2020-08-13 -0.159377 -0.063917 -0.436988  1.158512
2020-08-14 -2.511004 -2.117550 -0.860470  0.769164
2020-08-15  0.728483  0.337489 -0.538987 -1.687534
2020-08-16 -1.577743 -0.349542 -0.604951 -1.869274