In [24]:
print("hello python")
import numpy as np
import pandas as pd
s=pd.Series([2,4,6,8,10,np.nan])
print(s)
dates=pd.date_range('20200811',periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

hello python
0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
5     NaN
dtype: float64
DatetimeIndex(['2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14',
               '2020-08-15', '2020-08-16'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2020-08-11  1.844192 -0.139490 -0.117007 -0.019912
2020-08-12  1.781299 -0.549600 -0.236471 -1.104672
2020-08-13 -0.677691  0.022365 -0.484870  1.865097
2020-08-14  0.057160 -0.761216  0.315663  0.173701
2020-08-15 -1.547256 -1.657139 -0.195164 -1.164444
2020-08-16  0.085941 -0.356322  0.567710  1.146747