In [16]:
print("hello python")
import numpy as np
import pandas as pd
s=pd.Series([2,4,6,8,10,np.nan])
print(s)
dates=pd.date_range('20200811',periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

hello python
0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
5     NaN
dtype: float64
DatetimeIndex(['2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14',
               '2020-08-15', '2020-08-16'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2020-08-11  1.484233 -0.343427  0.157999 -1.320301
2020-08-12 -1.276400  0.253729 -0.732108 -1.592878
2020-08-13  0.580180 -0.307716 -0.686590  0.998284
2020-08-14  1.035503  0.395667  2.704216  0.484940
2020-08-15  0.469510 -0.852340  1.118193  0.095817
2020-08-16 -0.448197 -0.554389 -0.981384 -0.872787

In [26]:
df.index=[1,2,3,4,5,6]
df.index

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [23]:
df

          A         B         C         D
1  1.484233 -0.343427  0.157999 -1.320301
2 -1.276400  0.253729 -0.732108 -1.592878
3  0.580180 -0.307716 -0.686590  0.998284
4  1.035503  0.395667  2.704216  0.484940
5  0.469510 -0.852340  1.118193  0.095817
6 -0.448197 -0.554389 -0.981384 -0.872787

In [36]:
s = pd.Series([2,4,6,8,10,np.nan],index=list('123456'))
s.index=[1,2,3,4,5,6]

In [37]:
df.sub(s,axis=0)

          A          B         C         D
1 -0.515767  -2.343427 -1.842001 -3.320301
2 -5.276400  -3.746271 -4.732108 -5.592878
3 -5.419820  -6.307716 -6.686590 -5.001716
4 -6.964497  -7.604333 -5.295784 -7.515060
5 -9.530490 -10.852340 -8.881807 -9.904183
6       NaN        NaN       NaN       NaN